@model PagedList.IPagedList<Ecommerce.Models.Customer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="container-fluid pt-4 px-4">
        <div class="rounded h-100 p-2 header-sub-title">
            <nav style="margin-bottom: 4px" class="breadcrumb breadcrumb-dash">
                <a href="~/Admin/HomeAdmin" class="breadcrumb-item"><i class="fa fa-home"></i> Home</a>
                <span class="breadcrumb-item active">Danh sách khách hàng</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="rounded h-100 p-4">
            <div class="d-md-flex mb-4 justify-content-between align-items-center">
                <h6 class="mb-4">Danh sách khách hàng</h6>
                <a href="~/Admin/AdminCustomers/Create" class="btn btn-outline-info" style="line-height: 28px;">
                    <span style="margin-right: 6px; font-size: 20px">+</span>
                    Create
                </a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Email</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Tỉnh/Thành</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody style="vertical-align: middle">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CustomerID</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.Address</td>
                                    <td>@item.Location.Name</td>
                                    <td>
                                        <a class="btn btn-outline-success m-2" href="~/Admin/AdminCustomers/Details/@item.CustomerID">View</a>
                                        <a class="btn btn-outline-warning m-2" href="~/Admin/AdminCustomers/Edit/@item.CustomerID">Edit</a>
                                        <a class="btn btn-outline-danger m-2" href="~/Admin/AdminCustomers/Delete/@item.CustomerID">Delete</a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

                @{
                    if (Model != null && Model.Count() > ViewBag.PageSize)
                    {
                        <div class="text-center">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>


