@model Ecommerce.Models.TinTuc

@{
    ViewBag.Title = "Thông tin page: " + Model.Title;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="container-fluid pt-4 px-4">
        <div class="rounded h-100 p-2 header-sub-title">
            <nav style="margin-bottom: 4px" class="breadcrumb breadcrumb-dash">
                <a href="~/Admin/HomeAdmin" class="breadcrumb-item"><i class="fa fa-home"></i> Home</a>
                <a href="~/Admin/AdminTinTucs" class="breadcrumb-item">Danh sách tin tức</a>
                <span class="breadcrumb-item active">Thông tin tin tức: @Model.Title</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4 col-9">
    <div class="rounded h-100 p-4">
        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#infoSection">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="image-tab" data-bs-toggle="tab" href="#imageSection">Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="content-tab" data-bs-toggle="tab" href="#contentSection">Content</a>
            </li>
        </ul>
        <div>
            <div class="tab-content mt-3">
                <div class="tab-pane active" id="infoSection">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody style="vertical-align: middle">
                                <tr>
                                    <td>ID:</td>
                                    <td>@Model.PostID</td>
                                </tr>
                                <tr>
                                    <td>Tiêu đề:</td>
                                    <td>@Model.Title</td>
                                </tr>
                                <tr>
                                    <td>Mô tả ngắn:</td>
                                    <td>@Model.SContents</td>
                                </tr>
                                <tr>
                                    <td>Trạng thái:</td>
                                    <td>
                                        @if (Model.Published == true)
                                        {
                                            <span>Public</span>
                                        }
                                        else
                                        {
                                            <span>Non-Public</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hot:</td>
                                    <td>
                                        @if (Model.isHot == true)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>New Feed:</td>
                                    <td>
                                        @if (Model.isNewFeed == true)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Author</td>
                                    <td>@Model.Author</td>
                                </tr>
                                <tr>
                                    <td>MetaDesc</td>
                                    <td>@Model.MetaDesc</td>
                                </tr>
                                <tr>
                                    <td>MetaKey</td>
                                    <td>@Model.MetaKey</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane text-center" id="imageSection">
                    <img width="600" height="400" style="object-fit: contain" src="~/Content/images/posts/@Model.Thumb" alt="@Model.Title" />
                </div>
                <div class="tab-pane" id="contentSection">
                    <p style="margin-top: 8px">@Html.Raw(HttpUtility.HtmlDecode(Model.Contents))</p>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    thead, tbody, tfoot, tr {
        line-height: 40px;
    }

        thead, tbody, tfoot, tr td {
            width: 50%;
        }
</style>

<style>
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #EB1616;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 3px;
        width: 8px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

