@model PagedList.IPagedList<Ecommerce.Models.TinTuc>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Blog Index - " + Model.PageNumber;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Begin FB's Breadcrumb Area -->
<div class="breadcrumb-area pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active">Tin nổi bật</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FB's Breadcrumb Area End Here -->
<!-- Begin FB's Main Blog Page Area -->
<div class="fb-main-blog-page pt-60 pb-40 pb-sm-15 pb-xs-15">
    <div class="container">
        <div class="row">
            <!-- Begin FB's Main Content Area -->
            <div class="col-lg-12 order-lg-2 order-1">
                <div class="row fb-main-content">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-6 col-md-6">
                                <div class="fb-blog-single-item pb-20">
                                    <div class="fb-blog-banner">
                                        <a href="~/Blog/Details/@item.PostID">
                                            <img style="width: 100%; object-fit: cover; max-height: 300px; min-height: 250px; cursor: pointer"
                                                 src="~/Content/images/posts/@item.Thumb" alt="@item.Title">
                                        </a>
                                    </div>
                                    <div class="fb-blog-content">
                                        <div class="fb-blog-details">
                                            <h3 class="fb-blog-heading pt-25" style="max-height: 120px; overflow: hidden; position: relative;">
                                                <a href="~/Blog/Details/@item.PostID" style="display: block; max-height: 60px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Title</a>
                                            </h3>

                                            <div class="fb-blog-meta">
                                                <a class="author" href="#"><i class="fa fa-user"></i>@item.Author</a>
                                                <a class="post-time" href="#">
                                                    <i class="fa fa-calendar"></i> @item.CreatedDate.Value.ToShortDateString()
                                                </a>
                                            </div>
                                            <p class="limited-lines">
                                                @item.SContents
                                            </p>
                                            <a class="read-more" href="~/Blog/Details/@item.PostID">Xem thêm...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                    <!-- Begin FB's Pagination Area -->
                    <div class="col-lg-12">
                        <div class="fb-paginatoin-area text-center pt-10">
                            <div class="row">
                                <div class="col-lg-12">
                                    @if (Model.PageCount > 1)
                                    {
                                        <div class="btn-toolbar justify-content-center" role="toolbar">
                                            @if (Model.HasPreviousPage)
                                            {
                                                <div class="btn-group me-2" role="group" aria-label="Third group">
                                                    <a class="btn btn-outline-secondary" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })"><</a>
                                                </div>
                                            }

                                            @for (int i = 1; i <= Model.PageCount; i++)
                                            {
                                                <div class="btn-group me-2" role="group" aria-label="First group">
                                                    <a class="btn @(Model.PageNumber == i ? "btn-primary" : "btn-outline-secondary")" href="@Url.Action("Index", new { page = i })">@i</a>
                                                </div>
                                            }

                                            @if (Model.HasNextPage)
                                            {
                                                <div class="btn-group me-2" role="group" aria-label="Third group">
                                                    <a class="btn btn-outline-secondary" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">></a>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FB's Pagination End Here Area -->
                </div>
            </div>
            <!-- FB's Main Content Area End Here -->
        </div>
    </div>
</div>
<!-- FB's Main Blog Page Area End Here -->
<!-- Begin FB's Branding Area -->
<div class="fb-branding-wrap pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fb-branding bg-white">
                    <div class="fb-branding_active owl-carousel">
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/1.jpg" alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/2.jpg" alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/3.jpg" alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/4.jpg" alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/5.jpg" alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/6.jpg" alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/1.jpg" alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src="~/Content/assets/images/branding/2.jpg" alt="FB's Branding">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FB's Branding Area End Here -->

<style>
    .limited-lines {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Số dòng chữ tối đa */
        -webkit-box-orient: vertical;
    }
</style>