@model Ecommerce.Models.Product

@{
    ViewBag.Title = "Thông tin sản phẩm: " + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="container-fluid pt-4 px-4">
        <div class="rounded h-100 p-2 header-sub-title">
            <nav style="margin-bottom: 4px" class="breadcrumb breadcrumb-dash">
                <a href="~/Admin/HomeAdmin" class="breadcrumb-item"><i class="fa fa-home"></i> Home</a>
                <a href="~/Admin/AdminProducts" class="breadcrumb-item">Danh sách sản phẩm</a>
                <span class="breadcrumb-item active">Thông tin sản phẩm: @Model.ProductName</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4 col-9">
    <div class="rounded h-100 p-4">
        <h6 class="mb-4">Thông tin sản phẩm: @Model.ProductName</h6>
        <div class="table-responsive">
            <table class="table">
                <tbody style="vertical-align: middle">
                    <tr>
                        <td>ID:</td>
                        <td>@Model.ProductID</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.ProductName</td>
                    </tr>
                    <tr>
                        <td>Mô tả ngắn:</td>
                        <td>@Model.ShortDesc</td>
                    </tr>
                    <tr>
                        <td>Giá bán:</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Discount:</td>
                        <td>@Model.Discount</td>
                    </tr>
                    <tr>
                        <td>Ratting:</td>
                        <td>@Model.Ratting</td>
                    </tr>
                    <tr>
                        <td>Active:</td>
                        <td>
                            @if (Model.Active)
                            {
                                <label class="container">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                            }
                            else
                            {
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>BestSellers:</td>
                        <td>
                            @if (Model.BestSellers)
                            {
                                <label class="container">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                            }
                            else
                            {
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>HomeFlag:</td>
                        <td>
                            @if (Model.HomeFlag)
                            {
                                <label class="container">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                            }
                            else
                            {
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Danh mục:</td>
                        <td>@Model.Category.CatName</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.DateCreated</td>
                    </tr>
                    <tr>
                        <td>Ngày chỉnh sửa:</td>
                        <td>@Model.DateModified</td>
                    </tr>
                    <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>MetaDesc:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>MetaKey:</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    <tr>
                        <td>Tags:</td>
                        <td>@Model.Tags</td>
                    </tr>
                    <tr>
                        <td>Ảnh đại diện:</td>
                        <td>
                            <img width="140" height="140" style="object-fit: contain" src="~/Content/images/products/@Model.Thumb" alt="@Model.ProductName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Mô tả sản phẩm:</td>
                        <td>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    thead, tbody, tfoot, tr {
        line-height: 40px;
    }

        thead, tbody, tfoot, tr td {
            width: 50%;
        }
</style>

<style>
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #EB1616;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 3px;
        width: 8px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
